<html>
<head>
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<title>ADD NEW HOSTEL</title>
</head>
<h1 class="center">ADD NEW HOSTEL HERE</h1>

<form class="center" action="/pg/add" method="post">
    <label >Hostel Name</label>
    <input type="text" name="name" placeholder="HOSTEL NAME"/> <br> <br>
    <label >Description</label>
    <input type="text" name="description" placeholder="DESCRIPTION"/> <br> <br>
     <label >Pricing</label>
    <input type="number" name="pricing"  placeholder="PRICING"/> <br> <br>
    <label >Contact No.</label>
    <input type="text" name="contactno" placeholder="CONTACT NUMBER"/> <br> <br>
    <label >Food Items</label>
    <input type="text" name="fooditems" placeholder="FOOD ITEMS"/> <br> <br>
    <label >Rating</label>
    <input type="number" name="rating" placeholder="RATING ON A SCALE OF 5"/> <br> <br>
    <label >Nearby Colleges</label>
    <input type="text" name="colleges" placeholder="Nearby Colleges"/> <br> <br>
    <label >Image 1</label>
     <input type="text" name="image1"  placeholder="Image 1" />  <br> <br>
     <label >Image 2</label>
     <input type="text" name="image2"  placeholder="Image 2" /><br> <br>
     <label >Image 3</label>
     <input type="text" name="image3"  placeholder="Image 3" /><br> <br>

    <button class="btn waves-effect waves-light" type="submit">ADD THIS HOSTEL</button>
</form>

</html>