<html>
<head>
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<title>ADD NEW HOSTEL</title>
</head>
<h1 class="center">ADD NEW HOSTEL HERE</h1>

<form class="center" action="/pg/add" method="post">
    <input type="text" name="name" placeholder="HOSTEL NAME"/> <br> <br>

    <input type="text" name="description" placeholder="DESCRIPTION"/> <br> <br> 
    <input type="number" name="pricing"  placeholder="PRICING"/> <br> <br>
    <input type="text" name="contactno" placeholder="CONTACT NUMBER"/> <br> <br>
    <input type="text" name="fooditems" placeholder="FOOD ITEMS"/> <br> <br>
    <input type="number" name="rating" placeholder="RATING ON A SCALE OF 5"/> <br> <br>
    <button class="btn waves-effect waves-light" type="submit">ADD THIS HOSTEL</button>
</form>

</html>