<html>
<head>
<title>SEARCH HOSTEL</title>
</head>
<h1>SEARCH A PERFECT HOSTEL FOR PERFECT PERSON</h1>
 <form action="/search" method="get">
 <input type="text" name="search" placeholder="ENTER SEARCH KEYWORDS"/>
 <button type="submit" class="css" value="Search">SEARCH</button>
 <style>
      .css{
          text-align: center;
          background-color: yellowgreen;
          min-width: 50px;
          min-height: 50px;
      }
 </style>
</form>



</html>